body {
    padding-bottom: 5px;
    background-color: rgb(31, 97, 51);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif; 
	/* font-family: cocaColaFont; */
}

#main_3d_image {
    background: url("assets/images/Sunset.jpg") center center / cover no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

#main_text {
    background: rgba(255, 255, 255, 0.85);
    padding: 50px;
    border-radius: 20px;
    max-width: 900px;
    width: 100%;
}

#main_text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
#main_text h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
#main_text p {
    font-size: 1.3rem;
    line-height: 1.7;
}

.card {
    border: 0px solid rgba(0,0,0,.125);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(31, 97, 51);
}

.logo {
    margin-top: 3px;
}

.logo h1 {
    font-family: sans-serif;
    font-size: 29px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
    }

.logo h2 {
    font-family: sans-serif;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
    }

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    }

.logo p {
    font-size: 7px;
    margin-top: 23px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

.navbar_coca_cola {
    background-color: #760003;
    border-width: 0px;
    min-height: 70px;
}

.navbar_coca_cola .navbar-brand {
    color: rgb(245, 235, 235);
 }
    
.navbar_coca_cola .navbar-brand:hover {
    color: green;
}

.navbar_coca_cola .navbar-nav > li > a {
    color: white;  
}

.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: green;  
}

.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
}

.navbar_coca_cola .navbar-nav .nav-item > .active, 
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
    color:  #760003;
    background-color: #3399ff;
}

.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola  .navbar-nav > li > a:focus {
    color: green;  
}

.navbar_coca_cola .navbar-toggler {
    border-color: white;
}

.navbar_coca_cola  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}

.dropdown-menu {
    text-align: -webkit-left;
    background-color: #8ad6a9;
    margin-top: 20px; 
}

.dropdown-menu
.dropdown-item {
    color: #384238;
}

.dropdown-menu
.dropdown-item:hover {
    color: #030303;
    background-color: rgb(104, 138, 99);
}

.navbar-text > a {
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-decoration: none;
}

.navbar-text > p {
    color: rgb(64, 228, 15);
    font-size: 15px;
    text-decoration: none;
}

@media (min-width: 576px) {

    body {
        background-color: rgb(50, 110, 50);
    }

    #main_3d_image {
        background: url("assets/images/Sunset.jpg") center center / cover no-repeat;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #main_text {
        background: rgba(255, 255, 255, 0.85);
        padding: 50px;
        border-radius: 20px;
        max-width: 900px;
        width: 100%;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(50, 110, 50);
    }

    .navbar_coca_cola {
        background-color: grey; 
        min-height: 90px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(228, 75, 15);
        font-size: 18px;
    }

}

@media (min-width: 768px) { 
    
    body {
        background-color: rgb(85, 128, 76);
    }

    #main_3d_image {
        background: url("assets/images/Sunset.jpg") center center / cover no-repeat;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(85, 128, 76);
    }

    #main_text {
        background: rgba(255, 255, 255, 0.85);
        padding: 50px;
        border-radius: 20px;
        max-width: 900px;
        width: 100%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
    #main_text h3 {
        color: rgb(0, 139, 69);
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    #main_text p {
        font-size: 1.3rem;
        line-height: 1.7;
    }
    
    .logo {
        margin-top: 3px;
    }

    .logo h1 {
        font-family: sans-serif;
        font-size: 41px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 2px;
    }

    .logo h2 {
        font-family: sans-serif;
        font-size: 43px;
        margin-top: 5px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 3px;
        float: left;
    }

    .logo h3 {
        font-size: 31px;
        margin-top: 5px;
        margin-bottom: 3px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 10px;
        margin-top: 45px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 8px;
    }

    .navbar_coca_cola {
        background-color: grey; 
        min-height: 90px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(12, 5, 3);
        font-size: 18px;
    }
}

@media (min-width: 992px) { 
    
    body {
        background-color: rgb(99, 128, 101);
    }

    #main_3d_image {
        background: url("assets/images/Sunset.jpg") center center / cover no-repeat;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #main_text {
        background: rgba(255, 255, 255, 0.85);
        padding: 50px;
        border-radius: 20px;
        max-width: 900px;
        width: 100%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
    #main_text h3 {
        color: rgb(0, 139, 69);
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    #main_text p {
        font-size: 1.3rem;
        line-height: 1.7;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(99, 128, 101);
    }

    .logo {
        margin-top: 7px;
    }

    .logo h1 {
        font-family: sans-serif;
        font-size: 59px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -20px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo h2 {
        font-family: sans-serif;
        font-size: 65px;
        margin-top: 7px;
        margin-bottom: -25px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 6px;
        float: left;
    }

    .logo h3 {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-left: 12px;
    }

    .navbar_coca_cola {
        background-color: grey; 
        min-height: 120px;
    }

    .footer {
        background-color: grey;
        height: 75px;
    }

    .navbar-text > a {
        font-size: 15px;
    }

    .navbar-text > p {
        color: rgb(12, 5, 3);
        font-size: 23px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }
}
