.container-fluid, .row, .col-sm-10 {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible;
}

body{
    padding: 0;
    margin: 0;
}

#btn{
    background: rgb(216, 203, 201);
    padding: 15px;
    font-family: arial;
    border-radius: 12px;
}

#toggleWireframe {
    background: rgb(216, 203, 201);
    padding: 15px;
    font-family: arial;
    border-radius: 12px;
}

#rotate {
    background: rgb(216, 203, 201);
    padding: 15px;
    font-family: arial;
    border-radius: 12px;
}

#loadCan {
    background: rgb(216, 203, 201);
    padding: 15px;
    font-family: arial;
    border-radius: 12px;
}

#loadCube {
    background: rgb(216, 203, 201);
    padding: 15px;
    font-family: arial;
    border-radius: 12px;
}

#loadThing {
    background: rgb(216, 203, 201);
    padding: 15px;
    font-family: arial;
    border-radius: 12px;
}

#threeContainer {
    width: 100%;
    height: 70vh; position: relative;
    display: block;
    overflow: hidden;
    border: 3px solid #c4bfbf;
    border-radius: 5px;
}

#gui-container {
    position: absolute;
    top: 120px;
    left: 10px;
    z-index: 1000;
}

img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

img.clicked {
    transform: scale(1.5);
}

button:active {
    transform: scale(0.97);
}

.aboutMain {
    text-align: left;
}

.aboutCenter {
    text-align: center;
    margin: 10px;
}
